catalyst==20.7
# dlib==19.19.0
dvc==0.93.0
# numpy==1.18.2
# pandas==1.0.5
# pathlib==1.0.1
PyDrive2==1.4.9
# scipy==1.4.1
# tensorboard==2.2.0
# tensorflow==2.2.0
# torch===1.6.0
# torchvision===0.7.0
